// 颜色定义规范
$color-background = #fbfcfd
$color-highlight-background = #dd4238
$color-h1 = #323233
$color-h2 = #939394
$color-h3 = #343435
$color-white = #fffffe

//字体定义规范
$font-size-small-s = 20px
$font-size-small = 22px
$font-size-medium = 24px
$font-size-medium-x = 26px
$font-size-large = 28px
$font-size-large-x = 32px
$font-size-big-x = 35px
$font-size-bigbig-x = 38px